;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Sat Aug 10 15:56:45 2013
;; Desktop file format version 206
;; Emacs version 22.1.1

;; Global section:
(setq extended-command-history nil)
(setq file-name-history nil)
(setq grep-history nil)
(setq minibuffer-history nil)
(setq query-replace-history nil)
(setq read-expression-history nil)
(setq regexp-history nil)
(setq regexp-search-ring nil)
(setq search-ring '("else" "login" "<" "r" "}"))
(setq shell-command-history nil)
(setq tags-file-name nil)
(setq register-alist nil)

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/Users/andyreagan/2013/projects/2013-01twitter-analytics/google-app-engine/with-django/example/simple/views.py"
  "views.py"
  'python-mode
  nil
  3882
  '(587 t)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-append-buffer-args 206
  "/Users/andyreagan/2013/projects/2013-01twitter-analytics/google-app-engine/with-django/example/simple/config.py"
  "config.py"
  'python-mode
  nil
  376
  '(62 t)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . mule-utf-8)))

